// Font Settings

// $baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $monoFontFamily: Menlo, Monaco, "Courier New", monospace;
// $baseFontSize: 14;
// $baseLineHeight: 20;


// Colours

$white: #fff;
$black: #000;
$mint: #dff1e4;

$bodyBackground: $mint;
// $textColour: #000;