// Font Settings

$baseFontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$altFontFamily: "Parisienne", cursive;
$baseFontSize: 14;
$baseLineHeight: 20;


// Colours

$white: #fff;
$black: #000;
$mint: #dff1e4;
$teal: #008b7f;
$brown: #84695b;

$bodyBackground: $mint;
$textColour: $brown;