<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        
        <link rel="icon" href="/images/favicon.png" />
        
        <link rel="stylesheet" href="/stylesheets/css/style.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Parisienne" />
        
        <title>Elan&egrave; &amp; Blake are getting married</title>
    </head>
    
    <body id="container">
        
        <div id="primaryContent">
            
            <h1 class="primaryHeading">
                <span class="primaryHeading-noun">Elan&egrave; &amp; Blake</span>
                <span class="primaryHeading-verb">are getting married.</span>
            </h1>
            
            <ul class="nav">
                <li>
                    <a href="/">The Wedding</a>
                </li>
                <li>
                    <a class="is-active" href="/accommodation/">Accommodation</a>
                </li>
            </ul>
            
            <h2 class="h1">Accommodation</h2>
            
            <div class="readingCopy">
                <p>We have curated a list of nearby accommodation for those visiting from afar.</p>
            </div>
            
            <ul class="accommodationInfoList">
                
                <li class="accommodationInfo">
                    <a href="http://www.crowneplazaterrigal.com.au/">
                        <div class="accommodationInfo-distance">9 mins from venue</div>
                        <h3 class="accommodationInfo-heading">Crowne Plaza Terrigal</h3>
                        <div class="rating rating-4-5">4.5 stars</div>
                        <p class="accommodationInfo-address">Pine Tree Lane, Terrigal NSW 2260</p>
                        <p class="accommodationInfo-phone">(02) 4384 9111</p>
                        <p class="accommodationInfo-price">From approx $160 per night</p>
                    </a>
                </li>
                
                <li class="accommodationInfo">
                    <a href="http://www.terrigalhinterland.com.au/">
                        <div class="accommodationInfo-distance">12 mins from venue</div>
                        <h3 class="accommodationInfo-heading">Terrigal Hinterland Bed and Breakfast</h3>
                        <div class="rating rating-5">5 stars</div>
                        <p class="accommodationInfo-address">2/31 Lea Avenue, Wamberal NSW 2260</p>
                        <p class="accommodationInfo-phone">(02) 4385 5354</p>
                        <p class="accommodationInfo-price">From approx $250 per night</p>
                    </a>
                </li>
                
                <li class="accommodationInfo">
                    <a href="http://www.terrigalsails.com.au/">
                        <div class="accommodationInfo-distance">9 mins from venue</div>
                        <h3 class="accommodationInfo-heading">Terrigal Sails Serviced Apartments</h3>
                        <div class="rating rating-4">4 stars</div>
                        <p class="accommodationInfo-address">6 Maroomba Road, Terrigal NSW 2260</p>
                        <p class="accommodationInfo-phone">(02) 4384 7444</p>
                        <p class="accommodationInfo-price">From approx $140 per night</p>
                    </a>
                </li>
                
                <li class="accommodationInfo">
                    <a href="http://www.countrycomforthotels.com.au/terrigal/country-comfort-hotel-terrigal/">
                        <div class="accommodationInfo-distance">10 mins from venue</div>
                        <h3 class="accommodationInfo-heading">Country Comfort Terrigal</h3>
                        <div class="rating rating-3-5">3.5 stars</div>
                        <p class="accommodationInfo-address">154 Terrigal Drive, Terrigal, NSW 2260</p>
                        <p class="accommodationInfo-phone">(02) 4384 1166</p>
                        <p class="accommodationInfo-price">From approx $140 per night</p>
                    </a>
                </li>
                
            </ul>
            
        </div>
        
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36812697-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.async = true;
                ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            }());
        </script>
        
    </body>

</html>