<% inherits("layouts/page.html") %>

<div class="readingCopy">
    <p>We have curated a list of nearby accommodation for those visiting from afar.</p>
</div>

<ul class="accommodationInfo">

    <li class="accommodationInfo-item">
        <a href="http://www.crowneplazaterrigal.com.au/">
            <div class="accommodationInfo-distance">9 mins from venue</div>
            <h3 class="accommodationInfo-heading">Crowne Plaza Terrigal</h3>
            <div class="rating rating-4-5">4.5 stars</div>
            <p class="accommodationInfo-address">Pine Tree Lane, Terrigal NSW 2260</p>
            <p class="accommodationInfo-phone">(02) 4384 9111</p>
            <p class="accommodationInfo-price">From approx $160 per night</p>
        </a>
    </li>

    <li class="accommodationInfo-item">
        <a href="http://www.terrigalhinterland.com.au/">
            <div class="accommodationInfo-distance">12 mins from venue</div>
            <h3 class="accommodationInfo-heading">Terrigal Hinterland Bed and Breakfast</h3>
            <div class="rating rating-5">5 stars</div>
            <p class="accommodationInfo-address">2/31 Lea Avenue, Wamberal NSW 2260</p>
            <p class="accommodationInfo-phone">(02) 4385 5354</p>
            <p class="accommodationInfo-price">From approx $250 per night</p>
        </a>
    </li>

    <li class="accommodationInfo-item">
        <a href="http://www.terrigalsails.com.au/">
            <div class="accommodationInfo-distance">9 mins from venue</div>
            <h3 class="accommodationInfo-heading">Terrigal Sails Serviced Apartments</h3>
            <div class="rating rating-4">4 stars</div>
            <p class="accommodationInfo-address">6 Maroomba Road, Terrigal NSW 2260</p>
            <p class="accommodationInfo-phone">(02) 4384 7444</p>
            <p class="accommodationInfo-price">From approx $140 per night</p>
        </a>
    </li>

    <li class="accommodationInfo-item">
        <a href="http://www.countrycomforthotels.com.au/terrigal/country-comfort-hotel-terrigal/">
            <div class="accommodationInfo-distance">10 mins from venue</div>
            <h3 class="accommodationInfo-heading">Country Comfort Terrigal</h3>
            <div class="rating rating-3-5">3.5 stars</div>
            <p class="accommodationInfo-address">154 Terrigal Drive, Terrigal, NSW 2260</p>
            <p class="accommodationInfo-phone">(02) 4384 1166</p>
            <p class="accommodationInfo-price">From approx $140 per night</p>
        </a>
    </li>

</ul>