<% inherits("layouts/page.html") %>

<div class="readingCopy">
    <p>If you have any questions about the wedding please contact us:</p>
</div>

<div class="contacts">

    <div class="contacts-item">
        <h2 class="contacts-heading">Elanè</h2>
        <div class="contacts-email">
            <a href="mailto:elane@taeinstitute.com.au">elane@taeinstitute.com.au</a>
        </div>
        <div class="contacts-phone">0401 102 101</div>
    </div>

    <div class="contacts-item">
        <h2 class="contacts-heading">Blake</h2>
        <div class="contacts-email">
            <a href="mailto:blake.haswell@simpleweb.com.au">blake.haswell@simpleweb.com.au</a>
        </div>
        <div class="contacts-phone">0424 884 458</div>
    </div>

</div>