<% inherits("layouts/page.html") %>

<div class="readingCopy">
    <p>If you wish to purchase a wedding gift we have setup a gift registry with Myer to help you choose. Our registration number is <strong>648163</strong>.</p>
</div>

<div class="callToAction">
    <a class="callToAction-button" href="http://www.myer.com.au/bridal-gift-registry_find-a-registry_detail.aspx?id=648163" target="_blank">View Gift Registry Online</a>
</div>

<div class="notes">
    <div class="readingCopy">
        <p>Don’t want to shop at Myer? We would also appreciate monetary gifts.</p>
    </div>
</div>