<% inherits("layouts/page.html") %>

<div class="heroImage">
    <img src="/images/hero-image.jpg" width="640" height="237" alt="" />
</div>

<div class="weddingInfo">
    <dl>
        <dt>When:</dt>
        <dd>
            Thursday, 18th of April 2013
            <br />Starts at 12pm, followed by a cocktail reception
        </dd>
    </dl>
    <dl>
        <dt>Where:</dt>
        <dd>Erina, NSW</dd>
    </dl>
</div>

<div class="notes">
    <div class="readingCopy">
        <ul>
            <li>The ceremony will start at 12pm sharp. Please ensure you arrive at the venue on time.</li>
            <li>Parking at the venue is limited. If you have mobility concerns please arrive early. Otherwise there is plenty of parking along the road.</li>
            <li>If it rains the wedding will still be held at the same venue.</li>
        </ul>
    </div>
</div>