<% inherits("layouts/page.html") %>

<div class="weddingInfo">
    <h2 class="weddingInfo-heading">When?</h2>
    <p class="weddingInfo-body">Thursday, 18th of April 2013<br />
    Starts at 12pm, followed by a cocktail reception</p>

    <h2 class="weddingInfo-heading">Where?</h2>
    <p class="weddingInfo-body">Distillery Botanica<br />
    25 Portsmouth Rd,<br />
    Erina NSW 2250</p>
    <p class="weddingInfo-link">
        <a href="https://maps.google.com/maps?daddr=Distillery+Botanica+25+Portsmouth+Rd,+Erina+NSW+2250" target="_blank">Get Directions</a>
    </p>

</div>

<div class="notes">
    <div class="readingCopy">
        <ul>
            <li>Please RSVP by the 18th of March.</li>
            <li>Parking at the venue is limited. If you have mobility concerns please arrive early. Otherwise there is plenty of parking along the road.</li>
            <li>If it rains the wedding will still be held at the same venue.</li>
            <li>No children please.</li>
        </ul>
    </div>
</div>