<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        
        <link rel="icon" href="/images/favicon.png" />
        
        <link rel="stylesheet" href="/stylesheets/app.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Parisienne" />
        
        <title>Elan&egrave; &amp; Blake are getting married</title>
    </head>
    
    <body class="l-container">

        <div class="l-innerContainer">

            <div class="l-header">
                <h1 class="logo">
                    <span class="logo-name">Elan&egrave; &amp; Blake</span>
                    <span class="logo-tagline">are getting married.</span>
                </h1>
            </div>

            <div class="l-body">

                <ul class="nav">
                    <li>
                        <a class="is-active" href="/">The Wedding</a>
                    </li>
                    <li>
                        <a href="/accommodation/">Accommodation</a>
                    </li>
                </ul>

                <div class="heroImage">
                    <img src="/images/hero-image.jpg" width="640" height="237" alt="" />
                </div>

                <div class="weddingInfo">
                    <dl>
                        <dt>When:</dt>
                        <dd>
                            Thursday, 18th of April 2013
                            <br />Starts at 12pm, followed by a cocktail reception
                        </dd>
                    </dl>
                    <dl>
                        <dt>Where:</dt>
                        <dd>Erina, NSW</dd>
                    </dl>
                </div>

            </div>

        </div>
        
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36812697-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.async = true;
                ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            }());
        </script>
        
    </body>

</html>