.bottomNav {
    li {
        //border-top: 1px solid transparentize($white, 0.8);

        &:first-child {
            border-top: none;
        }
    }

    a {
        @include brownGradient;
        @include textOnBrownBackground;

        display: block;
        padding: pxToRem(10) 10%;

        border-top: 1px solid lighten($brown, 15%);
        border-bottom: 1px solid darken($brown, 5%);
    }
}