.contacts {
    margin: 0 0 -#{pxToRem(10)};
    text-align: center;

    @media (min-width: pxToRem(640)) {
        @include clearfix;
    }
}

.contacts-item {
    margin: pxToRem(20) 0;

    @media (min-width: pxToRem(640)) {
        float: left;
        width: 50%;
    }
}

.contacts-image {
    @include horizontallyCentred;

    background-color: $white;
    box-shadow: 0 1px 5px transparentize($black, 0.8);

    padding: pxToRem(10);
    margin-bottom: pxToRem(20);

    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);

    .contacts-item:nth-child(even) & {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
    }
}

.contacts-heading {
    @include fontSize(18);

    font-weight: bold;
}

.contacts-email {
    a {
        color: $teal;
        text-decoration: underline;
    }
}