.nav {
    margin: 30px 0 20px;
    line-height: 40px;
    text-align: center;
    border: solid transparentize($brown, 0.7);
    border-width: 1px 0;
    
    > li {
        display: inline-block;
        
        &:before {
            display: inline-block;
            content: "\00B7";
        }
        
        &:first-child {
            &:before {
                content: "";
            }
        }
        
        > a {
            display: inline-block;
            padding: 0 10px;
            
            &.is-active {
                position: relative;
            
                &:before {
                    @include generatedContent;
                    @include positionAbs($left: 50%, $bottom: 0);
                    
                    border: 6px solid;
                    border-color: transparent transparent transparentize($brown, 0.7);
                    margin-left: -6px;
                }
            }
        }
    }
}