.topNav {
    @include textOnBrownBackground;

    padding: 0 10%;

    display: none;

    @media (min-width: pxToRem(960)) {
        display: block;
    }

    li {
        display: inline-block;

        &:before {
            display: inline-block;
            content: "\00B7";
        }

        &:first-child {
            margin-left: -#{pxToRem(20)};

            &:before {
                display: none;
            }
        }
    }

    a {
        display: inline-block;
        padding: pxToRem(15) pxToRem(20);

        &.is-active {
            position: relative;

            &:before,
            &:after {
                @include generatedContent;
                @include positionAbs($left: 50%);

                border: pxToRem(5) solid transparent;

                margin-left: -#{pxToRem(5)};
            }

            &:before {
                bottom: pxToRem(6);
                border-bottom-color: darken($brown, 5%);
            }

            &:after {
                bottom: pxToRem(5);
                border-bottom-color: $white;
            }
        }
    }
}